.welcome {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 40px;
    color:tomato;
    margin: 20px;

}

.subtitle {
    font-size: 27px;
    margin: 10px;
    margin-bottom: 70px;
}

